<section class="gallery">
  {{ $p := .page }}
  {{ range .b.images }}
    {{- $img := . -}}
    {{- if strings.HasPrefix $img "/" -}}
      <!-- static/… path like /images/foo.jpg -->
      <img src="{{ $img | relURL }}" alt="">
    {{- else -}}
      <!-- page-bundle asset like foo.jpg -->
      {{ with $p.Resources.GetMatch $img }}
        <img src="{{ .RelPermalink }}" alt="">
      {{ else }}
        <div class="block-missing">Missing image: {{ $img }}</div>
      {{ end }}
    {{- end -}}
  {{ end }}
</section>
