<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>{{ block "title" . }}{{ .Title }} · {{ .Site.Title }}{{ end }}</title>
  {{ partial "head.html" . }}

  {{- $css := resources.Get "css/main.css" | minify | fingerprint -}}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
</head>
<body>
  <header>{{ partial "header.html" . }}</header>
  <main>{{ block "main" . }}{{ end }}</main>
  <footer>{{ partial "footer.html" . }}</footer>
</body>
</html>
