{{ define "main" }}
<section class="listing">
  <h1>{{ .Title }}</h1>
  {{ with .Content }}<div class="muted">{{ . }}</div>{{ end }}
  {{ range .Paginator.Pages }}
    <article class="post-teaser">
      <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
      <time datetime="{{ .Date }}">{{ .Date.Format "Jan 2, 2006" }}</time>
      {{ with .Params.description }}
        <p>{{ . }}</p>
      {{ else }}
        {{ with .Summary }}<p>{{ . | plainify }}</p>{{ end }}
      {{ end }}
    </article>
  {{ end }}
  {{ template "partials/pagination.html" . }}
</section>
{{ end }}
