{{ define "main" }}
  {{ with .Content }}
    <section class="section">
      {{ . }}
    </section>
  {{ end }}

  <section class="section">
    <div class="section__grid">
      {{ range .Pages }}
        <article class="summary">
          {{ with .Resources.GetMatch (default "" .Params.thumb) }}<img class="summary__thumb" src="{{ .Permalink }}" alt="">{{ end }}
          <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
          {{ with .Params.summary }}<p>{{ . }}</p>{{ end }}
          <a class="summary__cta" href="{{ .Permalink }}">View project</a>
        </article>
      {{ end }}
    </div>
  </section>
{{ end }}
